.main {
    padding: 20px 40px 20px 40px;
    margin: 100px 200px 100px 200px;
    border: 1px solid blue;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
}

button {
    background-color: orange;
}